#container {
  height: 100vh;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(0%);
  text-align: center;
  background-image: url(./imgs/fondo.svg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;	

  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
ion-avatar{
  margin-left: 20px;
  height: 6vh;
  width: 6vh;
}
.ajusteBoton{
  margin: 0px;
  background-color: rgb(0, 0, 0) !important;
}
ion-card{
  background-color: rgba(0, 0, 0, 0.541);
  color: aliceblue;
}

.ajuste {
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 4vh;
  color: aliceblue;
}

.containerCard{
  margin: 30px;
}
.navimg{
  padding: 15px;
  font-size: 15vh;
}


#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;

}
ion-toolbar{
  background-color: rgb(0, 0, 0) !important;
  color: rgb(253, 253, 253);
  text-align: center;
}




