<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row push-md class="ion-align-items-center">
        <ion-col size="3">
          <ion-avatar>
            <img src="../assets/icon/icon.png" />
          </ion-avatar>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-title>
            GeoApp
          </ion-title>
        </ion-col>
        <ion-col size="3" class="ion-text-end">
          <ion-button class="ajusteBoton" (click)="setOpen(true)">
            <ion-icon class="ajuste" name="construct-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>




<ion-content>

  <div id="container">
    <hr><hr>
    <div class="containerCard">
      <ion-card>
        <ion-icon class="navimg" name="navigate-outline"></ion-icon>
        <ion-card-header>
          <ion-button size="small" (click)="getCurrentCoordinate()">
            View Current Location
          </ion-button>
        </ion-card-header>
        <ion-card-content>
          Latitude: {{coordinate?.latitude }}
          <hr>
          Longitude:{{ coordinate?.longitude }}
        </ion-card-content>
        <ion-button size="small"  *ngIf="coordinate?.latitude" href="https://maps.google.com/?q={{coordinate?.latitude }},{{coordinate?.longitude}}&z=14" >
          <ion-icon class="ion-padding" name="search-outline" ></ion-icon>   Search
        </ion-button>
        <hr>
      </ion-card>

    </div>
    <hr>
    <hr>
    <div class="containerCard">
      <ion-card>
        <ion-icon class="navimg" name="location-outline"></ion-icon>
        <ion-card-header>
          <ion-button size="small" (click)="watchPosition()">
            Watch Position
          </ion-button>
        </ion-card-header>
        <ion-card-content>
          Latitude: {{watchCoordinate?.latitude  }}
          <hr>
          Longitude:{{ watchCoordinate?.longitude}}
        </ion-card-content>
        <ion-button size="small"  *ngIf="watchCoordinate?.latitude" href="https://maps.google.com/?q={{watchCoordinate?.latitude}},{{watchCoordinate?.longitude}}&z=14" >
          <ion-icon class="ion-padding" name="search-outline" ></ion-icon>   Search
        </ion-button>
        <hr>
      </ion-card>
      <ion-button size="small" (click)="clearWatch()">Clear Watch</ion-button>
    </div>
    <hr>
    <ion-footer>
      <ion-toolbar>
        <ion-text>
          <hr>
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
            <a href="https://github.com/JimyCalvo">Jimy Calvo</a>.
          </p>
        </ion-text>
        <hr>
        <ion-text class="ion-text-center" >
          <a href="https://github.com/JimyCalvo/GeoApp-ionc"><ion-icon name="logo-github"></ion-icon> GitHub</a>
        </ion-text>
      </ion-toolbar>
    </ion-footer>
    
  </div>
  <ion-action-sheet [isOpen]="isActionSheetOpen" header="Geolocation Permissions" [buttons]="actionSheetButtons"
    (didDismiss)="setOpen(false)"></ion-action-sheet>
</ion-content>

